# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env
.env.*

# Secrets / credentials
*.credentials.json
credentials.json
token.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/
